.container
    .jumbotron
        h1 Multivision
        p Welcome to multivision! The most comprehensive and complete collecton of nonsense
    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")